@keyframes colorCycle {
  0%,
  55% {
    filter: brightness(0) invert(1);
  }
  11%,
  33% {
    filter: none;
  }
}

main {
  max-width: 104.8rem;
  padding: 5.6rem 2.4rem;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-size: 12.8rem;
    line-height: 12.8rem;
    letter-spacing: -1.24rem;
    color: var(--white);

    span {
      filter: brightness(0) invert(1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: colorCycle 10s ease-in-out infinite;
    }
    span:nth-child(1) {
      background-image: linear-gradient(90deg, #007cf0, #00dfd8);
    }
    span:nth-child(2) {
      background-image: linear-gradient(
        90deg,
        rgb(121, 40, 202),
        rgb(255, 0, 128)
      );

      animation-delay: 3.33s;
    }
    span:nth-child(3) {
      background-image: linear-gradient(
        90deg,
        rgb(255, 77, 77),
        rgb(249, 203, 40)
      );
      animation-delay: 6.66s;
    }
  }

  .buttons {
    margin-top: 6.4rem;

    display: flex;
    align-items: center;

    > button {
      background: var(--white);
      color: var(--black);
      border-radius: 0.4rem;

      margin: 1.2rem;
      padding: 1.5rem 4.5rem;
      border: 0.1rem solid var(--white);

      font-size: 1.6rem;
      font-weight: 500;

      cursor: pointer;
      transition: 0.2s ease-in;

      &.outlined {
        background: transparent;
        color: var(--gray);
        border: 0.1rem solid var(--gray);
      }

      &:hover {
        background: transparent;
        color: var(--white);
        border: 0.1rem solid var(--white);
      }
    }
  }

  h2 {
    margin-top: 6.4rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.04rem;
    text-align: center;
    padding-bottom: 6.4rem;
  }
}
