* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: 'Inter', sans-serif;
}

html {
  background: var(--black);
  color: var(--gray);
  font-size: 62.5%;
}

#wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  max-width: 104.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 2.4rem;
}

header .left {
  height: 2.6rem;
}

header .left img {
  height: 100%;
}

header .middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .middle ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
}

header .middle ul li a + a {
  margin-left: 1.2rem;
}

header .right {
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .right .conf {
  height: 3.2rem;
  position: relative;
}

header .right .conf span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: var(--white);
  font-size: 1.4rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header .right .avatar {
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
}

@-webkit-keyframes colorCycle {
  0%,
  55% {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  11%,
  33% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes colorCycle {
  0%,
  55% {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
  11%,
  33% {
    -webkit-filter: none;
            filter: none;
  }
}

main {
  max-width: 104.8rem;
  padding: 5.6rem 2.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12.8rem;
  line-height: 12.8rem;
  letter-spacing: -1.24rem;
  color: var(--white);
}

main h1 span {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: colorCycle 10s ease-in-out infinite;
          animation: colorCycle 10s ease-in-out infinite;
}

main h1 span:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#007cf0), to(#00dfd8));
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

main h1 span:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, right top, from(#7928ca), to(#ff0080));
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  -webkit-animation-delay: 3.33s;
          animation-delay: 3.33s;
}

main h1 span:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4d4d), to(#f9cb28));
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  -webkit-animation-delay: 6.66s;
          animation-delay: 6.66s;
}

main .buttons {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buttons > button {
  background: var(--white);
  color: var(--black);
  border-radius: 0.4rem;
  margin: 1.2rem;
  padding: 1.5rem 4.5rem;
  border: 0.1rem solid var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

main .buttons > button.outlined {
  background: transparent;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
}

main .buttons > button:hover {
  background: transparent;
  color: var(--white);
  border: 0.1rem solid var(--white);
}

main h2 {
  margin-top: 6.4rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  text-align: center;
  padding-bottom: 6.4rem;
}

footer {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}
/*# sourceMappingURL=styles.css.map */